<%= render 'common/carousel'%>
<% @posts.each do |post| %>
  <div class="row mt-5 justify-content-md-center">
    <div class="col-md-10">
      <div class="card text-center bg-light">

        <div class="card-body">
          <h5 class="card-title">
            <%= link_to post.title, post_path(post) %>
          </h5>
        </div>
        <div class="card-footer text-muted">
          <%= post.updated_at  %>
        </div>
      </div>
    </div>
  </div>
<% end %>

