// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.post-detail {
  min-height: 80vh;
}
.highlight {
  color: #fff;
  margin-top: 15px;
  background: #2D3037;
  padding: 5px 10px;
  pre {
    margin-top: 9px;
    background-color: #2D3037;
  }
}
textarea {
  border: none;
  height: 230px;
  margin-top: -20px;

}

textarea.form-control {
  min-height: 500px !important;
}
