<footer class="footer">
  <div class="container">
    <hr>
    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-6">
        <div class="copyright">
          © 2021 Rubyc & Vue 社区
        </div>
      </div>
      <div class="col-md-6">
        <ul class="nav nav-footer justify-content-end">
          <li class="nav-item">
            <a href="/about/" class="nav-link">关于</a>
          </li>
          <li class="nav-item">
            <a href="https://beian.miit.gov.cn/" class="nav-link" target="_blank">京ICP备15031610号-1</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
